@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
/*
section{
    background-color:blue;
    height: 100vh;
    padding-top: 110px;
}
*/


.navbar-light .navbar-nav .nav-link.active {
    color: red;
    border-bottom: 4px solid red;
}

/*us*/
.about{ 
    position: relative;
    
    padding: 4rem 2rem;
    /*desktop padding: 4rem 6.5rem;*/
    font-size: 1rem;
    text-align: justify;
    color: rgb(22, 22, 22);
    width: 100%;
    
    min-height:100vh;
    height: auto;
    z-index: -100;
    
    background: url('../assets/bg-img.png') no-repeat;
    background-size: cover;
  }

  .about h3{
    font-size: 1.5rem;
    text-align: justify;
    color: rgb(22, 22, 22);
  }
 
  .about img{
    padding: 4rem 2rem;
}
 

  @media (min-width:768px){
      .about{
          padding:4rem 6rem;
      }

       .about img{
      padding: 0rem 1rem 1rem 0rem;
  }
  }
  /*
  hay que ponerle la capa con baja opacidad a la imagen aparte
  .about{
    background-color:rgba(170, 155, 155, 0.76);
    
  }
   */
  /* fin us*/

  .title-bg-light{
        padding: 4% 0;
        color: rgb(22, 22, 22);
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 400;
        letter-spacing: .2rem;
        
  }



   .title{
        padding: 4% 0;
        color: white;
        font-family: 'Montserrat',sans-serif;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 400;
        letter-spacing: .2rem;
        
  }

  /*products*/
.testimonials{
position: relative;
  background: red;
height:100vh;
}

  .products{
    top: 2%;
    position: relative;
  }

  

  .productos{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
  }

  .card{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display:flex;
    justify-content: flex-start;

    border-radius: 20px;
    background: linear-gradient(135deg,#752f12,#ff5a08);
  }

  .card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
  }

  .card:hover img{
    left: 82%;
    height: 500px;
  }

  .card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .card:hover .content{
    opacity: 1;
    visibility: visible;
    left: 0%;
  }

  .card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
  }

  .card .content p{
    color: #fff;
  }

  .card .content a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    background:#fff;
    margin-top: 10px;
    text-decoration: none;
  }

  @media(max-width: 991px){
    .card{
      position: relative;
      width: auto;
      max-width: 450px;
      transition: 0.5s;
      align-items: flex-start;
    }
    .card:hover{
      height: 600px;
    }
    .card:hover img{
      left: 50%;
      height: 350px;
    }
    .card .content{
      
      width: 100%;
      left: 0;
      padding: 40px;
      
    }

  }

  @media(max-width: 420px){
    .card .content{
      padding: 30px;
    }
    .card:hover img{
      height: 300px;
    }
  }